[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==0.71.0"
pandas = "==1.0.5"
plotly = "==4.14.3"
click = "==8.0"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.8"
